<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.moexc.vcs.infrasture.mybatis.mapper.AddressDeliveryMapper">
  <resultMap id="BaseResultMap" type="cn.moexc.vcs.infrasture.mybatis.entity.AddressDelivery">
    <!--@mbg.generated-->
    <!--@Table address_delivery-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="detailed" jdbcType="VARCHAR" property="detailed" />
    <result column="post_code" jdbcType="VARCHAR" property="postCode" />
    <result column="isdefault" jdbcType="VARCHAR" property="isdefault" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, customer_id, city, detailed, post_code, isdefault
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from address_delivery
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from address_delivery
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.moexc.vcs.infrasture.mybatis.entity.AddressDelivery">
    <!--@mbg.generated-->
    insert into address_delivery (id, customer_id, city, 
      detailed, post_code, isdefault
      )
    values (#{id,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{detailed,jdbcType=VARCHAR}, #{postCode,jdbcType=VARCHAR}, #{isdefault,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.moexc.vcs.infrasture.mybatis.entity.AddressDelivery">
    <!--@mbg.generated-->
    update address_delivery
    set customer_id = #{customerId,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      detailed = #{detailed,jdbcType=VARCHAR},
      post_code = #{postCode,jdbcType=VARCHAR},
      isdefault = #{isdefault,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
<!--auto generated by MybatisCodeHelper on 2024-05-24-->
  <select id="findDefault" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from address_delivery
    where isdefault='01'
  </select>

<!--auto generated by MybatisCodeHelper on 2024-05-24-->
  <select id="findByCustomerIdOrderByIsdefaultDescAndCity" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from address_delivery
    where customer_id=#{customerId,jdbcType=VARCHAR} order by isdefault desc, city asc
  </select>
</mapper>