<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.moexc.vcs.infrasture.mybatis.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="cn.moexc.vcs.infrasture.mybatis.entity.Customer">
    <!--@mbg.generated-->
    <!--@Table customer-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="customer_photo" jdbcType="VARCHAR" property="customerPhoto" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="account_num" jdbcType="VARCHAR" property="accountNum" />
    <result column="account_pwd" jdbcType="VARCHAR" property="accountPwd" />
    <result column="account_mobile" jdbcType="VARCHAR" property="accountMobile" />
    <result column="account_mail" jdbcType="VARCHAR" property="accountMail" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, customer_name, customer_photo, register_time, account_num, account_pwd, account_mobile, 
    account_mail
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from customer
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from customer
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.moexc.vcs.infrasture.mybatis.entity.Customer">
    <!--@mbg.generated-->
    insert into customer (id, customer_name, customer_photo, 
      register_time, account_num, account_pwd, 
      account_mobile, account_mail)
    values (#{id,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, #{customerPhoto,jdbcType=VARCHAR}, 
      #{registerTime,jdbcType=TIMESTAMP}, #{accountNum,jdbcType=VARCHAR}, #{accountPwd,jdbcType=VARCHAR}, 
      #{accountMobile,jdbcType=VARCHAR}, #{accountMail,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.moexc.vcs.infrasture.mybatis.entity.Customer">
    <!--@mbg.generated-->
    update customer
    set customer_name = #{customerName,jdbcType=VARCHAR},
      customer_photo = #{customerPhoto,jdbcType=VARCHAR},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      account_num = #{accountNum,jdbcType=VARCHAR},
      account_pwd = #{accountPwd,jdbcType=VARCHAR},
      account_mobile = #{accountMobile,jdbcType=VARCHAR},
      account_mail = #{accountMail,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2024-05-24-->
  <select id="selectOneByAccountNum" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from customer
    where account_num=#{accountNum,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2024-05-24-->
  <select id="selectOneByAccountNumAndAccountPwd" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from customer
    where account_num=#{accountNum,jdbcType=VARCHAR} and account_pwd=#{accountPwd,jdbcType=VARCHAR}
  </select>

</mapper>