<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.moexc.vcs.infrasture.mybatis.mapper.GoodClassifyMapper">
  <resultMap id="BaseResultMap" type="cn.moexc.vcs.infrasture.mybatis.entity.GoodClassify">
    <!--@mbg.generated-->
    <!--@Table good_classify-->
    <id column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    code, `name`, sort, parent_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from good_classify
    where code = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from good_classify
    where code = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.moexc.vcs.infrasture.mybatis.entity.GoodClassify">
    <!--@mbg.generated-->
    insert into good_classify (code, `name`, sort, 
      parent_code)
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{parentCode,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.moexc.vcs.infrasture.mybatis.entity.GoodClassify">
    <!--@mbg.generated-->
    update good_classify
    set `name` = #{name,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      parent_code = #{parentCode,jdbcType=VARCHAR}
    where code = #{code,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2024-05-24-->
  <select id="findAllByParentCodeOrderBySort" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from good_classify
        where parent_code=#{parentCode,jdbcType=VARCHAR} order by sort asc
    </select>
</mapper>