<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.moexc.vcs.infrasture.mybatis.mapper.TradeBidMapper">
  <resultMap id="BaseResultMap" type="cn.moexc.vcs.infrasture.mybatis.entity.TradeBid">
    <!--@mbg.generated-->
    <!--@Table trade_bid-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="trade_id" jdbcType="VARCHAR" property="tradeId" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="count_down" jdbcType="INTEGER" property="countDown" />
    <result column="reset_cd" jdbcType="INTEGER" property="resetCd" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="start_price" jdbcType="DECIMAL" property="startPrice" />
    <result column="bid_price" jdbcType="DECIMAL" property="bidPrice" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="bid_status" jdbcType="VARCHAR" property="bidStatus" />
    <result column="bid_user" jdbcType="VARCHAR" property="bidUser" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, trade_id, `number`, `name`, start_time, end_time, count_down, reset_cd, `status`, 
    start_price, bid_price, price, bid_status, bid_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from trade_bid
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from trade_bid
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.moexc.vcs.infrasture.mybatis.entity.TradeBid">
    <!--@mbg.generated-->
    insert into trade_bid (id, trade_id, `number`, 
      `name`, start_time, end_time, 
      count_down, reset_cd, `status`, 
      start_price, bid_price, price, 
      bid_status, bid_user)
    values (#{id,jdbcType=VARCHAR}, #{tradeId,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{countDown,jdbcType=INTEGER}, #{resetCd,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{startPrice,jdbcType=DECIMAL}, #{bidPrice,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, 
      #{bidStatus,jdbcType=VARCHAR}, #{bidUser,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.moexc.vcs.infrasture.mybatis.entity.TradeBid">
    <!--@mbg.generated-->
    update trade_bid
    set trade_id = #{tradeId,jdbcType=VARCHAR},
      `number` = #{number,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      count_down = #{countDown,jdbcType=INTEGER},
      reset_cd = #{resetCd,jdbcType=INTEGER},
      `status` = #{status,jdbcType=VARCHAR},
      start_price = #{startPrice,jdbcType=DECIMAL},
      bid_price = #{bidPrice,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      bid_status = #{bidStatus,jdbcType=VARCHAR},
      bid_user = #{bidUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2024-05-24-->
  <select id="selectAllByTradeIdOrderByNumber" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from trade_bid
        where trade_id=#{tradeId,jdbcType=VARCHAR} order by `number` asc
    </select>

<!--auto generated by MybatisCodeHelper on 2024-05-24-->
  <delete id="deleteByTradeId">
    delete from trade_bid
    where trade_id=#{tradeId,jdbcType=VARCHAR}
  </delete>

<!--auto generated by MybatisCodeHelper on 2024-05-24-->
  <insert id="insertList">
    INSERT INTO trade_bid(
    id,
    trade_id,
    number,
    name,
    start_time,
    end_time,
    count_down,
    reset_cd,
    status,
    start_price,
    bid_price,
    price,
    bid_status,
    bid_user
    )VALUES
    <foreach collection="list" item="element" index="index" separator=",">
      (
      #{element.id,jdbcType=VARCHAR},
      #{element.tradeId,jdbcType=VARCHAR},
      #{element.number,jdbcType=INTEGER},
      #{element.name,jdbcType=VARCHAR},
      #{element.startTime,jdbcType=TIMESTAMP},
      #{element.endTime,jdbcType=TIMESTAMP},
      #{element.countDown,jdbcType=INTEGER},
      #{element.resetCd,jdbcType=INTEGER},
      #{element.status,jdbcType=VARCHAR},
      #{element.startPrice,jdbcType=DECIMAL},
      #{element.bidPrice,jdbcType=DECIMAL},
      #{element.price,jdbcType=DECIMAL},
      #{element.bidStatus,jdbcType=VARCHAR},
      #{element.bidUser,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
</mapper>